.modal, .modal-auth, .modal-prob{
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
}

.modal-window, .modal-dialog{
    position: absolute;
    max-width: 780px;
    max-height: 552px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #FFFFFF;
    border-radius: 5px;
    padding: 40px 46px;
}
.modal-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
}
.modal-list{
    margin-top: 50px;
    margin-bottom: 50px;
}
.modal-head{
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.close, .close-auth, .close-prob{
    font-size: 48px;
    background:none;
    border: 0;
}

.footer-buttons{
    margin-left: 62%;
}

.food-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
}
.food-amount{
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    width: 39px;
    height: 32px;
    background: #FFFFFF;
    border: 1px solid #40A9FF;
    border-radius: 2px;
    padding: 5px 16px;
    color: #40A9FF;
}
.food-row{
    display: flex;
    justify-content: space-between;
}
.food-amount, .food-text, .food-amount{
    margin-right: 11px;
}
.order-info .food-price{
    margin-right: 47px;
}
.total-price{
    background: #262626;
    border-radius: 5px;
    font-style: normal;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #FAFAFA;
    padding: 15px 20px;
}
.confirm{
    background: #1890FF;
    border: 1px solid #1890FF;
    border-radius: 2px;
    color: #FFFFFF;
    margin-right: 18px;
    padding: 8px 16px;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.cancel{
    padding: 8px 16px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #595959;
}
.modal-check{
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.modal-active{
    display: block;
}

.modal-auth{
z-index: 1;
} 
.modal-prob{
z-index: 2;
}

.is-open {
    display: flex;
}

.modal-body{
    margin-bottom: 52px;
}

.modal-body-auth{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    align-content: flex-start;
}

.label-auth{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    width: 95%;
    justify-content: space-around;
}

.inputLogin, .inputPass{
    display: flex;
    width: 280px;
    margin-left: auto;
    margin-right: 50px;
}

.span{
    margin-right: 5%;
} 

.user-name{
    margin-right: 15px;
    text-decoration: solid;
    font-family: 'Roboto';
    font-weight: bold;
}

.button-out {
    display: none;
    margin-left: 10px;
}